body {
    color: black;
    font-family: 'Times New Roman', serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: url('BackMe.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

.Footer {
    background-color: hsl(0,0%,25%);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: -2vh;
    width: 107vw;
    margin-top: auto;
    margin-left: -2vw;
}

.Contacts {
    align-items: center;
    display: block;
}

nav ul {
    list-style-type: none;
    background: hsl(0,0%,25%);
    padding: 0px;
    margin-top: -1.2vh;
    margin-left: -.5vw;
    overflow-x: hidden;
    font-size: 40px;
    justify-content: flex-end;
    display: flex;
    width: 101%;
    position: center;
}

@media screen and (max-width:1000px) {
    nav ul {
        width: 101.5vw;
        margin-left: -2%;
    }
}

ul .menu-button {
    display: none;
    background: hsl(0,0%,25%);
}

@media screen and (max-width:1000px) {
    ul .menu-button {
        display: flex;
    }
}

/*Nav bar text*/
nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    align-items: center;
    font-size: 40px;
}

@media screen and (max-width:1000px) {
    nav a {
        font-size: 3.5vh;
    }
}

    /*Colour change on hover*/
    nav a:hover {
        background-color: hsl(0,0%,10%)
    }

/*Home button left side*/
nav ul li:first-child {
    margin-right: auto;
}

/*Side bar*/
.side {
    position: fixed;
    right: 0;
    height: auto;
    background-image: url('file:///C:\Users\Theam\Downloads\close_24dp_E8EAED.svg');
    width: 250px;
    z-index: 999;
    background-color: hsl(0,0%,25%);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

    /*Size of the buttons*/
    .side li {
        width: 100%;
    }

    .side a {
        width: 100%;
    }

@media(max-width: 1000px) {
    .hideOnMobile {
        display: none;
        width: 100%;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 1000px) {
    .side {
        width: 100%;
    }
}


/*This is the formatting for the text itself*/

div .lancer { /*Image of site*/
    height: 15vw;
    width: auto;
    display: flex;
    margin-left: auto;
    border: black 2.5px solid;
}

@media screen and (max-width:1000px) {
    div .lancer {
        float: left;
        width: auto;
        height: 47vw;
        margin-left: 0;
    }
}

.imagecard { /*Background of image*/

    margin-left: 3%;
    margin-right: 4vw;
    margin-top: -10vh;
    margin-bottom: 3%;
    float: right;
    box-shadow: 5px 5px 5px #4d4d4e;
}

@media screen and (max-width:1000px) {
    .imagecard {
        float:left;
        margin-top:0;
        margin-left:auto;
    }
}

div h1 { /*Title of portfolio*/
    font-size: 6vh;
    margin-top: auto;
    font-style: italic;
    font-weight: bold;
    border-spacing: .5vh;
    border-width: 10px;
    text-align: center;
    border: solid black 5.5px;
    background: white;
    display: inline;
    margin-left: 45%;
    padding: 5px;
}

@media screen and (max-width:1000px) {
    div h1 {
        font-size: 4vh;
        margin-top: 20vh;
        margin-left:33%
    }
}

div h2{
    font-size:4vh;
    background:white;
    display:inline-block;
    padding:3px;
    text-align:justify;
    border:solid black 4px;
    margin-top:20vh;
    margin-left:15%;
    margin-top:5%;
}

@media screen and (max-width:1000px) {
    div h2 {
        font-size: 2.5vh;
        margin-left:28%
    }
}

div h3{
    text-align:justify;
    font-size:2.5vh;
    background:white;
    display:inline-block;
    border:solid black 3px;
    margin-left:10%;
    margin-top:auto;
}

@media screen and (max-width:1000px) {
    div h3 {
        font-size: 2vh;
        margin-left:0;
    }
}
