body {
    color: black;
    font-family: 'Times New Roman', serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: url('homebackground.gif') no-repeat;
    background-size:cover;
    background-position:center;
}

.Footer {
    background-color: hsl(0,0%,25%);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: -2vh;
    width: 107vw;
    margin-top: auto;
    margin-left: -2vw;
}

.Contacts {
    align-items: center;
    display: block;
}

nav ul {
    list-style-type: none;
    background: hsl(0,0%,25%);
    padding: 0px;
    margin-top: -1.2vh;
    margin-left: -.5vw;
    overflow-x: hidden;
    font-size: 40px;
    justify-content: flex-end;
    display: flex;
    width: 101%;
    position: center;
}

@media screen and (max-width:1000px) {
    nav ul {
        width: 107vw;
        margin-left: -2%;
    }
}

ul .menu-button {
    display: none;
    background: hsl(0,0%,25%);
}

@media screen and (max-width:1000px) {
    ul .menu-button {
        display: flex;
    }
}

/*Nav bar text*/
nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    align-items: center;
    font-size: 40px;
}

@media screen and (max-width:1000px) {
    nav a {
        font-size: 3.5vh;
    }
}

    /*Colour change on hover*/
    nav a:hover {
        background-color: hsl(0,0%,10%)
    }

/*Home button left side*/
nav ul li:first-child {
    margin-right: auto;
}

/*Side bar*/
.side {
    position: fixed;
    right: 0;
    height: auto;
    background-image: url('file:///C:\Users\Theam\Downloads\close_24dp_E8EAED.svg');
    width: 250px;
    z-index: 999;
    background-color: hsl(0,0%,25%);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

    /*Size of the buttons*/
    .side li {
        width: 100%;
    }

    .side a {
        width: 100%;
    }

@media(max-width: 1000px) {
    .hideOnMobile {
        display: none;
        width: 100%;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 1000px) {
    .side {
        width: 100%;
    }
}
/*Title text*/

h1 {
    font-size: 2.5vw;
    text-align: center;
    margin-top: -1.5vh;
    background: #C70039;
    border: black solid 4px;
    display: flex;
    flex-direction: column;
    padding: 7px;
}

@media(max-width: 1000px) {
    h1 {
        font-size: 6vw;
        margin-top: 0vh;
    }
}

/*Main paragraph about me text*/

h2 {
    font-size: 1.25vw;
    margin-left: 100px;
    background: #C70039;
    border: solid black 3px;
    padding: 10px;
    display: inline-block;
    margin-left: 0vw;
    margin-top: 4%
}

@media(max-width: 1000px) {
    h2 {
        font-size: 4vw;
        margin-top:40%;
        margin-bottom:10vh;
    }
}



