body {
    color: black;
    font-family: 'Times New Roman', serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: url('portback.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

.Footer {
    background-color: hsl(0,0%,25%);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: -2vh;
    width: 107vw;
    margin-top: auto;
    margin-left: -2vw;
}

.Contacts {
    align-items: center;
    display: block;
}

nav ul {
    list-style-type: none;
    background: hsl(0,0%,25%);
    padding: 0px;
    margin-top: -1.2vh;
    margin-left: -.5vw;
    overflow-x: hidden;
    font-size: 40px;
    justify-content: flex-end;
    display: flex;
    width: 101%;
    position: center;
}

@media screen and (max-width:1000px) {
    nav ul {
        width: 101.5vw;
        margin-left: -2%;
    }
}

ul .menu-button {
    display: none;
    background: hsl(0,0%,25%);
}

@media screen and (max-width:1000px) {
    ul .menu-button {
        display: flex;
    }
}

/*Nav bar text*/
nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    align-items: center;
    font-size: 40px;
}

@media screen and (max-width:1000px) {
    nav a {
        font-size: 3.5vh;
    }
}

    /*Colour change on hover*/
    nav a:hover {
        background-color: hsl(0,0%,10%)
    }

/*Home button left side*/
nav ul li:first-child {
    margin-right: auto;
}

/*Side bar*/
.side {
    position: fixed;
    right: 0;
    height: auto;
    background-image: url('file:///C:\Users\Theam\Downloads\close_24dp_E8EAED.svg');
    width: 250px;
    z-index: 999;
    background-color: hsl(0,0%,25%);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

    /*Size of the buttons*/
    .side li {
        width: 100%;
    }

    .side a {
        width: 100%;
    }

@media(max-width: 1000px) {
    .hideOnMobile {
        display: none;
        width: 100%;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 1000px) {
    .side {
        width: 100%;
    }
}


/*This is the formatting for the text itself*/

.website li{
    list-style-type:none;
}

main h1{ /*Title of portfolio*/
    font-size:40px;
    margin-top:auto;
    font-style:italic;
    font-weight:bold;
    border-spacing:.5vh;
    border-width:10px;
}

.img_website { /*Image of site*/
    height: 20vw;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: black 2.5px solid;
}

@media screen and (max-width:1000px) {
    .img_website {
        float: left;
        width: auto;
        height: 47vw;
        margin-left:0;
    }
}

.imagecard { /*Background of image*/
    width: auto;
    background-color: white;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: -1vh;
    margin-bottom: 3%;
    border: 0px solid white;
    float: right;
    box-shadow: 5px 5px 5px #4d4d4e;
}

@media screen and (max-width:1000px) {
    .imagecard {
        margin-left:-.8vh;
    }
}

div .websitelist { /*About the project website*/
    border: solid black 5px;
    margin-top: 0vh;
    margin-left: 5vh;
    margin-bottom: 25vh;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #4d4d4e;
    padding: 10px;
    background-color: cyan;
}

@media screen and (max-width:1000px) {
    div .websitelist {
        text-align: left;
        margin-left: 0;
        margin-top: 10vh;
        margin-bottom: 20vh;
        font-size: 2.5vw;
    }
}

li.question{
    font-weight:bold;
}

.portfolio { /*Title*/
    text-align: center;
    background:white;
    border:3px solid black;
    display:inline-block;
    margin:auto;
    padding: 5px;
    margin-left:16vw;
    font-size:2.5vw;
}

@media screen and (max-width:1000px) {
    .portfolio {
        font-size:5vw;
        margin-left:0vw;
    }
}

.P1 { /*Website intro*/
    margin-left: 12vw;
    text-align: justify;
    margin-bottom: 1.2vh;
    margin-top: 10vh;
    font-size: 3vh;
    background:white;
    display:inline-block;
    padding:7px;
    border:black solid 4px;
}

@media screen and (max-width:1000px) {
    .P1 {
        text-align: center;
        margin-left: 15%;
        margin-bottom: 2vh;
    }
}
